__pycache__/
*.pyc
.pytest_cache/
.DS_Store
venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# DVC — actual data/model files git track pannada, DVC track pannudu
# raw folder contents ignore, but .dvc pointer files should NOT be ignored
data/raw/*
!data/raw/*.dvc
data/processed/
models/
metrics/
/tmp

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Misc
*.joblib
*.pkl
